# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual Environment
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data (ne pas versionner les données lourdes)
data/
*.dat
*.atr
*.hea

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
